.card {
  background: rgba(255,255,255,1);
  border-radius: 10px;
  border: 1px solid #fafafa;
  padding: 30px;
  width: 100%;
  box-shadow: 0 3px 5px rgba(75, 75, 75, 0.1);
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all .5s ease;
  z-index: 10;
}
.card.inactive {
  top: 53%;
  opacity: 0;
}
.card .question {
  margin-bottom: 30px;
}
.card h1 {
  font-size: 36px;
  font-weight: 600;
  margin-top: 0;
}
.card .answers {
  margin-bottom: 30px;
}
.card .question-info {
  color: #bababa;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}
.summary-wrapper {
  margin-bottom: 20px;
  top: 55px;
  z-index: 1;
  position: relative;
  opacity: 1;
  transition: all .5s ease;
}
.summary-wrapper.inactive {
  top: 85px;
  opacity: 0;
}
.summary-wrapper h1 {
  margin-top: 0;
}
.summary-wrapper .button {
  margin-bottom: 20px;
}
.card-summary {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  margin-bottom: 20px;
}
.card .button {
  text-align: center;
}
.card .summary-question {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
}
.card .summary-reply:first-letter {
  text-transform: capitalize;
}
.summary-reply-checkbox span:first-child {
  text-transform: capitalize;
}
.summary-reply-checkbox span + span:last-child {
  content: "  ";
}
.summary-reply-checkbox span + span:last-child:before {
  content: "  ";
}
.summary-reply-checkbox span:nth-of-type(n + 2):not(:last-child) {
content: "  ";
}
.summary-reply-checkbox span:nth-of-type(n + 2):not(:last-child)::before {
content: "  ";
}
.summary-reply-checkbox .checkbox-items {
  margin-right: 15px;
  margin-bottom: 10px;
  display: inline-block;
}