.radio-group {
  cursor: pointer;
  margin: auto;
}
.radio-group.list {
  text-align: left;
  display: grid;
}
.radio-label {
  cursor: pointer;
  border-radius: 10px;
  padding: 8px;
  border: 2px solid rgb(228, 228, 228);
  margin-bottom: 10px;
}
.radio-group.list .radio-label {
  float: left;
  width: 100%;
  padding: 5px;
}
.radio-group.row .radio-label {
  display: inline-block;
  margin-right: 10px;
}
.radio-label span {
  margin-right: 10px;
}
.radio-label .input-radio {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 0;
}
.input-radio:checked + span {
  color: #000;
}
.radio-label:hover {
  color: #000;
}
