.word {
    position: relative;
    display: inline-block;
    font-size: 4em;
    font-weight: 700;
    z-index: 2;
}

.final {
  position: relative;
  margin-top: 3em;
  display: inline-block;
  padding: 2em 2em;
  border-radius: 5em 0 5em 0;
  background-image: url('../../rainbow.png');
  box-shadow: 0 8px 8px rgba(0,0,0,0.2);
}

.final:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4.7em 0 4.7em 0;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background-color: rgb(50, 28, 68);
  z-index: 1;
}

.answers {
  font-size: 2em;
}

.word:first-child {
  padding-left: 0.5em;
  border-radius: 1em 0 0 0;
}

.word:last-child {
  padding-right: 0.5em;
  border-radius: 0 0 1em 0;
}